.feed{
    flex:0.4;
<<<<<<< HEAD
    border-right: 1.5px solid var(--twitter-color);
=======
    border-right: 1px solid var(--twitter-background);
>>>>>>> 847da22f91f53cc2fa83513abf4911118af87efb
    min-width: fit-content;
    overflow-y: scroll;
}

.feed::-webkit-scrollbar{
    display: none;
}

.feed{
<<<<<<< HEAD
    -ms-overflow-style:auto;
=======
    -ms-overflow-style:none;
>>>>>>> 847da22f91f53cc2fa83513abf4911118af87efb
    scrollbar-width: none;
}

.feed__header{
    position: sticky;
    top:0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}