.sidebar{
<<<<<<< HEAD
    border-right: 1.5px solid var(--twitter-color);
    flex:0.3;
    /* margin-top: 20px; */
    min-width: fit-content;
    max-width: 300px;
    border-right: 1px solid var(--twitter-color);
    flex:0.3;
    margin-top: 20px;
>>>>>>> 847da22f91f53cc2fa83513abf4911118af87efb
    padding-left: 20px;
    padding-right: 20px;
}

.sidebar__twittericon{
    color: var(--twitter-color);
    font-size: 50px !important;
    padding-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.sidebar_tweet{
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
}