.widgets{
<<<<<<< HEAD
    flex:1;
    max-width: 500px;
    /* margin:10px; */
=======
    flex:0.3;
>>>>>>> 847da22f91f53cc2fa83513abf4911118af87efb
}

.widgets__input{
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
<<<<<<< HEAD
    margin: 10px;
=======
    margin-left: 20px;
>>>>>>> 847da22f91f53cc2fa83513abf4911118af87efb
}

.widgets__input > input {
    border: none;
    background-color: var(--twitter-background);
}

.widgets__searchIcon {
    color: gray;
}

.widgets__widgetContainer{
<<<<<<< HEAD
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
=======
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
>>>>>>> 847da22f91f53cc2fa83513abf4911118af87efb
    background-color: #f5f8fa;
    border-radius: 20px;
}

.widgets__widgetContainer > h2 {
    font-size: 18px;
    font-weight: 800;
}